@model List<Brand>

<h1>Marcas de Cerveza</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <th class="text-secondary">@Html.DisplayFor(m => brand.Name)</th>
            </tr>
        }
    </tbody>
</table>