@model List<Brand>

<h1>Marcas de Cerveza</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <th>@Html.DisplayFor(m => brand.Name)</th>
            </tr>
        }
    </tbody>
</table>